<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mastering_SampleModule::menu"
             title="Mastering"
             module="Mastering_SampleModule"
             sortOrder="900"
             resource="Mastering_SampleModule::menu"
             translate="title"/>
        <add id="Mastering_SampleModule::manage_items"
             title="Manage Items"
             module="Mastering_SampleModule"
             sortOrder="10"
             parent="Mastering_SampleModule::menu"
             action="mastering/item/index"
             resource="Mastering_SampleModule::manage_items"/>
        <add id="Mastering_SampleModule::configuration"
             title="Configuration"
             module="Mastering_SampleModule"
             sortOrder="99"
             parent="Mastering_SampleModule::menu"
             action="adminhtml/system_config/edit/section/samplemodule"
             resource="Mastering_SampleModule::configuration"/>
        <add id="Mastering_SampleModule::live_stream_integration"
             title="Live Stream Integration"
             module="Mastering_SampleModule"
             sortOrder="20"
             parent="Mastering_SampleModule::menu"
             action="mastering/livestream/index"
             resource="Mastering_SampleModule::live_stream_integration"/>
    </menu>
</config>