<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mastering_SampleModule::samplemodule" title="Sample Module" sortOrder="51">
                    <resource id="Mastering_SampleModule::manage_items" title="Manage Items" sortOrder="10" />
                    <resource id="Mastering_SampleModule::live_stream_integration" title="Live Stream Integration" sortOrder="20" />
                    <resource id="Mastering_SampleModule::configuration" title="Configuration" sortOrder="99" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mastering_SampleModule::config" title="Sample Module Config"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>